
*.xcuserstate

*.xcscheme

.DS_Store

genera.xcodeproj/project.xcworkspace/xcuserdata/simonsherrin.xcuserdatad/UserInterfaceState.xcuserstate

genera.xcodeproj/project.xcworkspace/xcuserdata/simonsherrin.xcuserdatad/UserInterfaceState.xcuserstate

genera.xcodeproj/xcuserdata/simonsherrin.xcuserdatad/xcschemes/genera.xcscheme
